@model SMS01.Models.Student

@{
    ViewData["Title"] = "Add Student";
    Layout = null;
}

<div class="row">
    <div class="col-md-12" enctype="multipart/form-data">
        <input type="hidden" asp-for="StudentId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FatherName" class="control-label"></label>
                    <input asp-for="FatherName" class="form-control" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">#</div>
                        </div>
                        <input asp-for="Age" class="form-control" />
                    </div>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select asp-for="Gender" class="form-select form-control mt-4" >
                        <option selected>Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="RegNo" class="control-label"></label>
                    <input asp-for="RegNo" class="form-control" />
                    <span asp-validation-for="RegNo" class="text-danger"></span>
                   @* @if (ViewBag.RegnoError != null)
                    {
                        <span asp-validation-for="RegNo" class="text-danger">@ViewBag.RegnoError</span>
                    }*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Semester" class="control-label"></label>
                    <input asp-for="Semester" class="form-control" />
                    <span asp-validation-for="Semester" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ContactNumber" class="control-label"></label>
                    <input asp-for="ContactNumber" class="form-control" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CNIC" class="control-label"></label>
                    <small><i>(with dashes)</i></small>
                    <input asp-for="CNIC" class="form-control" />
                    <span asp-validation-for="CNIC" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label class="control-label">Picture</label>
            <input type="file" id="fileImage" />
        </div>
        <div class="row">
            <div class="col-md-6 mt-2 align-content-center">
                <div class="form-group">
                    <input type="button" value="Submit" id="saveStudent" onclick="SaveStudent()" class="btn btn-primary w-100" />
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
